<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">


<dom-module id="global-router">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }

      app-drawer {
        --app-drawer-scrim-background: rgba(0, 0, 100, 0.8);

        --app-drawer-content-container: {
          background-image: url('../../img/ninja2.png');
          --background-repeat: no-repeat;
          background-size: 100% 100%;
          --background-size: cover;
          --background-color: #2F74D0;
        }
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #EFF0F5;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        font-size: 18px;
        display: block;
        --padding: 0 16px;
        padding: 6px 32px;
        text-decoration: none;
        --color: var(--app-secondary-color);
        color: var(--paper-blue-400);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        --color: black;
        font-weight: bold;
      }

      paper-button {
        color: var(--paper-red-500);
      }

      paper-button[raised] {
        //background-color: var(--primary-color);
        //color: white;
        text-decoration: none;
        padding: 10px;
        //font-weight: 450;
        //font-size: 20px;
        color: white;
        background-color: var(--paper-red-400);
        border-radius: 40px;
        border: 1px solid #b2353e;
      }

      .container {
        width: 100%;
        --text-align: center;
      }

      .left {
        float: left;
      }

      .right {
        padding: 0px 12px;
        float: right;
      }

      app-toolbar {
        font-size: 20px;
      }

      app-toolbar .right {
        font-size: 10px;
      }

      app-toolbar .title {
        text-align: center;
        color: var(--paper-blue-800);
        padding: 0px 50px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{data}}" tail="{{tail}}">

      <app-drawer-layout fullbleed narrow="{{narrow}}">

        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
          <app-toolbar>
            <div class="title">
              <iron-icon icon="menu"></iron-icon>MENÚ
            </div>
          </app-toolbar>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="accounts" href="/accounts/">
              <iron-icon icon="payment"></iron-icon> Mis Cuentas
            </a>
            <a name="transfers" href="/transfers/">
              <iron-icon icon="add-shopping-cart"></iron-icon> Transferencias
            </a>
            <a name="config" href="/config/">
              <iron-icon icon="add-alert"></iron-icon> Configuración
            </a>
          </iron-selector>
        </app-drawer>

        <app-header-layout>
          <app-header slot="header" condenses reveals effects="waterfall">
            <app-toolbar>
              <div class="container">
                <div class="left">
                  <iron-icon icon="assignment-ind"></iron-icon><span>Hola [[context.usr_name]] !! Bienvenido a tu nueva banca personal.</span>
                </div>
                <div class="right">
                  <paper-button raised id="logout">
                    <iron-icon icon="settings-power"></iron-icon>
                  </paper-button>
                </div>
              </div>
            </app-toolbar>
          </app-header>

          <iron-pages selected="[[data.page]]" attr-for-selected="page" fallback-selection="accounts">
            <global-position id="globalPosition" page="accounts" api=[[api]] context=[[context]]> </global-position>
            <transfers-flow id="transfersFlow" page="transfers" api=[[api]] context=[[context]]> </transfers-flow>
            <profile-config id="profileConfig" page="config" api=[[api]] context=[[context]] on-refreshlist="_invoqueGetAccountAjax"> </profile-config>
          </iron-pages>

        </app-header-layout>
      </app-drawer-layout>

      <iron-ajax id="ajaxLogout" url=[[api.src_host]][[api.src_logout]] method="post" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="logoutAJAXResponse" last-response="{{response}}" on-error="showError">
      </iron-ajax>
      <!-- this.context.token = 'Basic '+e.detail.data.token -->
      <iron-ajax id="ajaxAccountList" url=[[api.src_host]][[api.src_users]][[context.usr_id]]/[[api.src_accounts]] method="GET" last-response="{{list}}" handle-as="json" on-response="accountsListAJAXResponse" on-error="showError" headers$='{"authorization": "Basic [[context.token]]"}'>
      </iron-ajax>


  </template>
  <script>
    class GlobalRouter extends Polymer.Element {

      static get is() {
        return 'global-router';
      }

      static get properties() {
        return {
          route: {
            type: Object,
            observer: '_routeChanged',
          },
          page: {
            type: Object,
            observer: '_pageChanged',
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          },
          list: {
            type: Object
          }
        }
      }

      ready() {
        super.ready();
        console.log("GlobalRouter : Ready() ");
        this._invoqueGetAccountAjax();
        this.$.logout.addEventListener('click', e => {
          this._handleClick();
        })
      }

      _invoqueGetAccountAjax() {
        this.$.ajaxAccountList.generateRequest();
      }

      accountsListAJAXResponse(list) {
        this.$.globalPosition.listAccounts = this.list;
        this.$.transfersFlow.listaccounts = this.list;
      }

      _handleClick(e) {
        this._invoqueAjax();
      }

      _invoqueAjax() {
        let info = {
          "usr_id": this.context.usr_id
        }
        this.body = JSON.stringify(info);
        this.$.ajaxLogout.generateRequest();
      }

      logoutAJAXResponse() {

        this.route.path = '/components/login-app/';
        this.page = '/components/login-app/';

        this.dispatchEvent(new CustomEvent('logoutevent', {
          detail: {
            "isLogged": 'N'
          }
        }))
      }

      _routeChanged() {
        let ruta = this.route.path;
        if ("/accounts/" == ruta) {
          this.$.globalPosition.isNav = 'C';
          this.$.transfersFlow.routeTransfer = 'F';
          this.$.profileConfig.reset = !this.$.profileConfig.reset;
        }
        if ("/transfers/" == ruta) {
          this.$.globalPosition.accountSelected = ''
          this.$.globalPosition.isNav = '';
          this.$.profileConfig.reset = !this.$.profileConfig.reset;
        }
        if ("/config/" == ruta) {
          this.$.globalPosition.accountSelected = ''
          this.$.transfersFlow.routeTransfer = 'F';
          this.$.globalPosition.isNav = '';
        }

      }

      _pageChanged() {
        console.log("GlobalRouter - _pageChanged() - value" + JSON.stringify(this.page));
      }

    }
    window.customElements.define(GlobalRouter.is, GlobalRouter);
  </script>
</dom-module>
