<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="transfers-flow">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>

      <template is="dom-if" if="{{_isEqualTo(routeTransfer,'F')}}">
          <transfers-form on-eventroute="changeStep" api=[[api]] context=[[context]] listaccounts=[[listaccounts]] account=[[account]]></transfers-form>
      </template>
      <template is="dom-if" if="{{_isEqualTo(routeTransfer,'S')}}">
          <transfers-simulate on-eventroute="changeStep" api=[[api]] data=[[data]] context=[[context]] account=[[account]]></transfers-simulate>
      </template>
      <template is="dom-if" if="{{_isEqualTo(routeTransfer,'R')}}">
          <transfers-resume on-eventroute="changeStep" api=[[api]] data=[[data]] context=[[context]] account=[[account]]></transfers-resume>
      </template>

</template>
    <script>
      /**
       * @customElement
       * @polymer
       */

      class TransfersFlow extends Polymer.Element {
        static get is() {
          return 'transfers-flow';
        }

        ready() {
          super.ready();
          console.log("TransfersFlow : Ready() ");
        }

        static get properties() {
          return {
            data : {
              type: Object
            },
            routeTransfer: {
              type: String,
              value: 'F'
            },
            context: {
              type: Object
            },
            api: {
              type: Object
            },
            listaccounts : {
              type : Object
            }
          };
        }

        changeStep(e){
          this.routeTransfer = e.detail.route;
          this.data = e.detail.data;
        }

        _isEqualTo(title, string) {
          return title == string;
        }
      }
      window.customElements.define(TransfersFlow.is, TransfersFlow);
    </script>
</dom-module>
