<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="transfers-simulate">
  <template>
    <style>
      :host {
        padding-top: 1em;
        display: block;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .marco {
        border: 1px solid rgba(191, 191, 191, 1);
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        margin: 0px 0px;
        padding: 0px 20px;
      }

      .actions{
        margin:  16px -6px;
      }

      paper-button[raised] {
        margin-top: 1em;
        background-color: var(--paper-blue-400);
        color: white;
      }


    </style>

    <div class="card">
      <div class="marco">
        <h1>Transferencia a Terceros - Simulación</h1>
        <p><b>Cuenta de cargo :</b> [[data.cuentaCargo]]</p>
        <p><b>Cuenta destino :</b> [[data.cuentaAbono]]</p>
        <p><b>Importe :</b> [[data.mount]]</p>
        <p><b>Divisa :</b> [[data.divisa]]</p>
        <p><b>Concepto :</b> [[data.concept]]</p>
        <p></p>

        <paper-input id="clave" label="Clave" type="password" auto-validate minlength="6" maxlength="6" validator="" error-message="Dato requerido" value="{{clave::input}}" required></paper-input>

        <div class="actions">
          <paper-button id="autorizar" raised>Autorizar</paper-button>
          <paper-button id="cancelar" raised>Cancelar</paper-button>
        </div>

      </div>
    </div>

    <iron-ajax id="ajaxPostMovement" url="" method="post" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="postMovementAJAXResponse" last-response="{{user}}" on-error="showError" headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

    <iron-ajax id="ajaxMovementList" url="" method="GET" last-response="{{movements}}" handle-as="json" on-response="movementListAJAXResponse" on-error="showError" headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class TransfersSimulate extends Polymer.Element {
      static get is() {
        return 'transfers-simulate';
      }

      ready() {
        super.ready();
        console.log("TransfersSimulate : Ready() ");

        this.$.autorizar.addEventListener('click', e => {
          this._handleClick();
        });
      }

      static get properties() {
        return {
          mount: {
            type: String
          },
          divisa: {
            type: String
          },
          cuentaAbono: {
            type: String
          },
          cuentaCargo: {
            type: String
          },
          concept: {
            type: String
          },
          indexMovement: {
            type: Number
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          }
        };
      }

      _handleClick() {
        if (this.$.clave.validate()) {
          this.invoqueAjax();
        }
      }

      routeResume() {
        this.dispatchEvent(new CustomEvent('eventroute', {
          detail: {
            "data": this.data,
            "route": 'R'
          }
        }))
      }

      invoqueAjaxGetMovement() {
        this.$.ajaxMovementList.url = this.api.src_host + this.api.src_users + this.context.usr_id + "/" + this.api.src_accounts + this.data.cuentaCargo + "/" + this.api.src_movements;
        this.$.ajaxMovementList.generateRequest();
      }

      movementListAJAXResponse() {
        let index = this.movements.movements.length;
        if (index > 0)
          this.indexMovement = "" + (parseInt(this.movements.movements[index - 1].mov_id) + 1) + "";
        else
          this.indexMovement = "1010";

        this.invoqueAjaxPostMovement();
      }

      invoqueAjax() {
        this.invoqueAjaxGetMovement();
      }

      invoqueAjaxPostMovement() {
        let div = this.data.divisa == 'SOLES' ? 'PEN' : 'USD';
        let date = new Date();
        let fmtdate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
        let movement = {
          "movements": {
            "mov_id": this.indexMovement,
            "mov_number": this.indexMovement,
            "mov_date": fmtdate,
            "mov_description": this.data.concept,
            "mov_channel": "0427",
            "mov_mount": parseFloat(this.data.mount),
            "mov_divisa": div
          }
        }
        this.data.tmp = movement;
        this.$.ajaxPostMovement.url = this.api.src_host + this.api.src_users + this.context.usr_id + "/" + this.api.src_accounts + this.data.cuentaCargo + "/" + this.api.src_movements;
        this.body = JSON.stringify(movement);
        this.$.ajaxPostMovement.generateRequest();
        this.routeResume();
      }

      postMovementAJAXResponse() {
        console.log("TransfersSimulate : postMovementAJAXResponse() - Operacion realizada correctamente ");
      }

      showError() {
        console.log("Ocurrio un error");
      }
    }
    window.customElements.define(TransfersSimulate.is, TransfersSimulate);
  </script>
</dom-module>
