<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column-group.html">

<dom-module id="account-movements">
  <template>
    <style>
      :host {
        --padding-top: 1em;
        display: block;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      vaadin-grid#transparent-header {
        font: 500 16px "Open Sans", sans-serif;
      }

      paper-button[raised] {
        margin-top: 1em;
        background-color: var(--paper-blue-400);
        color: white;
      }
    </style>

    <h1>Listado de Movimientos</h1>

    <x-array-data-provider items="{{data.movements}}"></x-array-data-provider>
    <!-- The array is set as the <vaadin-grid>'s "items" property -->
    <vaadin-grid id="transparent-header" style="height: 800px;" items="[[data.movements]]" active-item="{{activeItem}}">

      <vaadin-grid-column-group>
        <template class="header">
          <div class="header-content">
            <b>Listado de movimientos de la cuenta: [[account]]</b>
          </div>
        </template>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="mov_number"> Número de Movimiento </vaadin-grid-sorter><br>
            <vaadin-grid-filter path="mov_number"></vaadin-grid-filter>
          </template>
          <template>[[item.mov_number]]</template>
          <template class="footer">Número de Movimiento</template>
        </vaadin-grid-column>

        <vaadin-grid-column resizable>
          <template class="header">
            <vaadin-grid-sorter path="mov_date">Fecha</vaadin-grid-sorter><br>
            <vaadin-grid-filter path="mov_date"></vaadin-grid-filter>
          </template>
          <template>[[item.mov_date]]</template>
          <template class="footer">Fecha</template>
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header" resizable>
            <vaadin-grid-sorter path="mov_description">Descripción</vaadin-grid-sorter><br>
            <vaadin-grid-filter path="mov_description"></vaadin-grid-filter>
          </template>
          <template>[[item.mov_description]]</template>
          <template class="footer">Descripción</template>
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header" resizable>
            <vaadin-grid-sorter path="mov_channel">Canal</vaadin-grid-sorter><br>
            <vaadin-grid-filter path="mov_channel"></vaadin-grid-filter>
          </template>
          <template>[[item.mov_channel]]</template>
          <template class="footer">Canal</template>
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header" resizable>
            <vaadin-grid-sorter path="mov_mount">Monto</vaadin-grid-sorter><br>
            <vaadin-grid-filter path="mov_mount"></vaadin-grid-filter>
          </template>
          <template>[[item.mov_mount]]</template>
          <template class="footer">Monto</template>
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header" resizable>
            <vaadin-grid-sorter path="mov_divisa">Divisa</vaadin-grid-sorter><br>
            <vaadin-grid-filter path="mov_divisa"></vaadin-grid-filter>
          </template>
          <template>[[item.mov_divisa]]</template>
          <template class="footer">Divisa</template>
        </vaadin-grid-column>
        <vaadin-grid-column-group>
    </vaadin-grid>

    <paper-button raised id="atras" on-click="goAccountList">Atrás</paper-button>

    <iron-ajax id="ajaxAccountMovements" url="" method="GET" last-response="{{data}}" handle-as="json" on-response="accountMovementsListAJAXResponse" on-error="showError" headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class AccountMovements extends Polymer.Element {
      static get is() {
        return 'account-movements';
      }

      ready() {
        super.ready();
        console.log("AccountMovements : Ready() ");
        this._invoqueAjax();
      }

      static get properties() {
        return {
          account: {
            type: String,
            observer: '_activeChanged'
          },
          accountMovements: {
            type: Array
          }
        };
      }

      _invoqueAjax() {
        this.$.ajaxAccountMovements.url = this.api.src_host + this.api.src_users + this.context.usr_id + "/" + this.api.src_accounts + this.account + "/" + this.api.src_movements;
        this.$.ajaxAccountMovements.generateRequest();
      }

      accountMovementsListAJAXResponse(data) {
        this.accountMovements = data.detail.response;
      }

      showError(error) {
        console.log("Error Accounts: " + error);
      }

      goAccountList(e) {
        this.dispatchEvent(new CustomEvent('newevent', {
          "detail": {
            "value": 'C'
          }
        }));
      }

      _activeChanged(newValue, oldValue) {
        console.log("AccountMovements : _activeChanged() - cuenta nueva/ antigua : " + newValue + "-" + oldValue);
        if (this.account != ''){
            this._invoqueAjax();
        }
      }

    }
    window.customElements.define(AccountMovements.is, AccountMovements);
  </script>
</dom-module>
