<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<link rel="import" href="../../bower_components/iron-validator-behavior/iron-validator-behavior.html">

<dom-module id="new-user">
  <template>
    <style>
      :host {
        padding-top: 10em;
        display: block;
        text-align: center;
      }

      paper-card {
        background:rgba(255,255,255,0.7);
        text-align: left;
        padding: 3em 3em 0em 3em;
        width: 35%;
        height: 600px;

      }
      .card-header {
        font-size: 5 em;
      }

      paper-card .card-header {
        font-size: 2 em;
        font-weight: bold;
        color: var(--paper-green-900);
      }

      paper-card .card-actions {
        padding-top: 1em;
        text-align: right;
      }

      paper-button {
        color: var(--paper-red-500);
      }

      paper-button[raised] {
        background-color: var(--primary-color);
        color: white;
      }

      paper-card .card-header iron-icon {
        width: 2em;
        color: var(--paper-green-700);
      }

      .userCreatedMsg {
        border-radius : 5px;
        border: 1px solid rgba(56, 161, 77, 1);
        margin: 2px 119px;
        text-align: center;
        font-size: 16px;

        background-color : var(--paper-green-100);
      --  padding: 1em 3em 1em 3em;
        color : var(--paper-green-900);
        font-weight: bold;
      }

      paper-card .userCreatedMsg iron-icon {
        width: 2em;
        color: var(--paper-green-700);
      }

    </style>
    <paper-card elevation="3" animated-shadow="false" class="card">
      <div class="card-header">
        <iron-icon icon="account-circle"></iron-icon> Crear Mi Cuenta BBVA
      </div>
      <form is="iron-form" id="form">
        <div class="card-content">

          <paper-input id="name" label="Nombre" type="" validator="" auto-validate error-message="Dato requerido" value="{{name::input}}" required></paper-input>
          <paper-input id="lastName" label="Apellido" type="" validator="" auto-validate error-message="Dato requerido" value="{{lastName::input}}" required></paper-input>

          <paper-input id="dni" label="Dni" auto-validate pattern="[0-9]*" minlength="8" maxlength="8" error-message="Dato erróneo" value="{{dni::input}}" required></paper-input>
          <paper-input id="phone" label="Teléfono/Celular" auto-validate pattern="[0-9]*" minlength="7" maxlength="9" validator="" error-message="Dato erróneo" value="{{phone::input}}" required></paper-input>

          <paper-input id="email" label="Cuenta Email" type="email" auto-validate error-message="Correo Inválido" value="{{email::input}}" required></paper-input>
          <paper-input id="pswd" label="Contraseña (min 6 caract.)" type="password" auto-validate error-message="Dato requerido" minlength="6" value="{{pswd::input}}" required></paper-input>

        </div>

        <template is="dom-if" if="{{_isEqualTo(createSucess,'OK')}}">
          <div id="userCreatedMsg" class="userCreatedMsg">
              <iron-icon icon="done-all"></iron-icon>
              <iron-icon icon="accessibility"></iron-icon>
              Usuario creado exitosamente
          </div>
        </template>

        <div class="card-actions">
          <paper-button raised id="crear">Crear</paper-button>
         <paper-button raised id="goLogin"> Login </paper-button>
        </div>
      </form>
    </paper-card>

    <iron-ajax id="ajaxPostUsers" url=[[api.src_host]][[api.src_users]] method="post" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="postUserAJAXResponse" last-response="{{user}}" on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class NewUser extends Polymer.Element {
      static get is() {
        return 'new-user';
      }
      ready() {
        super.ready();
        console.log("NewUser : Ready() ");

        this.$.crear.addEventListener('click', e => {
          this._handleClick(e)
        });

        this.$.goLogin.addEventListener('click', e=>{
          this._goToLogin(e);
        });

      }

      static get properties() {
        return {
          api: {
            type: Object
          },
          createSucess :{
            type : String,
            value : 'NOTOK'
          },
          name:{
            type : String,
            value : ''
          },
          lastName:{
            type : String,
            value : ''
          },
          dni:{
            type : String,
            value : ''
          },
          phone:{
            type : String,
            value : ''
          },
          email:{
            type : String,
            value : ''
          },
          pswd:{
            type : String,
            value : ''
          }
        };
      }

      _handleClick(e) { //e.target.id
        if (this.$.name.validate() &&
          this.$.lastName.validate() &&
          this.$.dni.validate() &&
          this.$.phone.validate() &&
          this.$.email.validate() &&
          this.$.pswd.validate()) {
          this.invoqueAjax();
        }
      }

      _goToLogin(e) {
        this.dispatchEvent(new CustomEvent('myevent',{
          detail:{
            data : 'N'
          }
        }));
      }

      invoqueAjax() {
        let createUserData = {
          "usr_type_id_card": "DNI",
          "usr_id_card": this.dni,
          "usr_name": this.name,
          "usr_last_name": this.lastName,
          "usr_email": this.email,
          "usr_password": this.pswd,
          "usr_phone": this.phone,
          "usr_ip_address": "88.4.134.126"
        };
        this.body = JSON.stringify(createUserData);
        this.$.ajaxPostUsers.generateRequest();
      }

      postUserAJAXResponse(e) {
        this.createSucess = 'OK';
        this.$.crear.style.display = 'none';
        this.$.goLogin.style.display = 'hidden';
      }

      showError(error) {
        console.log(error);
        console.log("Usuario ya creado");
      }

      _isEqualTo(title, string){
        return title == string;
      }

    }
    window.customElements.define(NewUser.is, NewUser);
  </script>
</dom-module>
