<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column-group.html">

<dom-module id="global-position">
  <template>
    <style>
      :host {
        padding-top: 1em;
        display: block;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      vaadin-grid#transparent-header {
        font: 500 14px "Open Sans", sans-serif;
      }

    </style>

    <template is="dom-if" if="{{_isEqualTo(isNav, 'C')}}">
      <div class="card">
        <h1>Listado de Cuentas</h1>

        <x-array-data-provider items="{{listAccounts.accounts}}"></x-array-data-provider>
        <!-- The array is set as the <vaadin-grid>'s "items" property -->
        <vaadin-grid id="transparent-header" style="height: 900px;" items="[[listAccounts.accounts]]" active-item="{{activeItem}}">

          <vaadin-grid-column-group>
            <template class="header">
              <div class="header-content">
                <b>Mis Cuentas</b>
              </div>
          </template>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="acc_type">Tipo de Cuenta</vaadin-grid-sorter><br>
              <vaadin-grid-filter path="acc_type"></vaadin-grid-filter>
            </template>
            <template>[[item.acc_type]]</template>
            <template class="footer">Tipo de Cuenta</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="acc_complete">Cuenta</vaadin-grid-sorter><br>
              <vaadin-grid-filter path="acc_complete"></vaadin-grid-filter>
            </template>
            <template><a href="" on-click="toggleSelection">[[item.acc_complete]]</a></template>
            <template class="footer">Cuenta</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="acc_divisa">Divisa</vaadin-grid-sorter><br>
              <vaadin-grid-filter path="acc_divisa"></vaadin-grid-filter>
            </template>
            <template>[[item.acc_divisa]]</template>
            <template class="footer">Divisa</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="acc_dispo_mount">Monto Disponible</vaadin-grid-sorter><br>
              <vaadin-grid-filter path="acc_dispo_mount"></vaadin-grid-filter>
            </template>
            <template>[[item.acc_dispo_mount]]</template>
            <template class="footer">Monto Disponible</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="acc_cont_mount">Monto Contable</vaadin-grid-sorter><br>
              <vaadin-grid-filter path="acc_cont_mount"></vaadin-grid-filter>
            </template>
            <template>[[item.acc_cont_mount]]</template>
            <template class="footer">Monto Contable</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="acc_estatus">Estado</vaadin-grid-sorter><br>
              <vaadin-grid-filter path="acc_estatus"></vaadin-grid-filter>
            </template>
            <template>[[item.acc_estatus]]</template>
            <template class="footer">Estado</template>
          </vaadin-grid-column>

        </vaadin-grid>

      </div>

    </template>

    <template is="dom-if" if="{{_isEqualTo(isNav, 'M')}}">
      <div class="card">
        <account-movements on-newevent="change" api=[[api]] context=[[context]] account={{accountSelected}}></account-movements>
      </div>
    </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class GlobalPosition extends Polymer.Element {
      static get is() {
        return 'global-position';
      }

      ready() {
        super.ready();
        console.log("GlobalPosition : Ready() ");
      }

      static get properties() {
        return {
          isNav: {
            type: String,
            value: 'C'
          },
          accountSelected: {
            type: String,
            value: ''
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          },
          listAccounts : {
            type : Object
          }
        };
      }


      _isEqualTo(title, string) {
        return title == string;
      }

      change(e) {
        this.isNav = e.detail.value;
      }

      toggleSelection(e) {
        this.accountSelected = e.target.text;
        this.isNav = 'M'
      }

    }
    window.customElements.define(GlobalPosition.is, GlobalPosition);
  </script>
</dom-module>
