<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="context-app">
<template>
  <style>
    :host {
    }
  </style>
</template>
<script>
  class ContextApp extends Polymer.Element {
    static get is(){
      return 'context-app'
    }
    ready(){
      super.ready();
      console.log("ContextApp : Ready() ");
    }
    static get properties (){
      return {
        api :{
          type : Object,
          notify: true,
          value : {
            "src_host" : "http://localhost:3000/apiperu/v1/",
            "src_login" : "login/",
            "src_logout" : "logout/",
            "src_users" : "users/",
            "src_movements" : "movements/",
            "src_accounts" : "accounts/",
            "src_auth" : "authenticate/"
          }
        },
        context : {
          type : Object
        }
      };
    }
  }
  window.customElements.define(ContextApp.is, ContextApp);
</script>
</dom-module>
